@import "../../styles/vars.scss";

.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 79px;
  margin-bottom: 60px;
  align-items: center;

  &__Page {
    padding: 0 51px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: $main-color;
    text-transform: uppercase;
  }

  &__Btn {
    width: 40px;
    height: 40px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    background-color: #fff;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:disabled {
      opacity: 0.4;
      cursor: no-drop;
    }
  }

  &__Arrow {
    &--prev {
      transform: rotate(180deg);
    }
  }
}
