@import "../../../styles/vars.scss";

.ProductPageQuantity {
  display: flex;
  position: relative;
  margin-bottom: 20px;

  &__Select {
    position: relative;
  }

  &--after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  &__Name {
    font-weight: 500;
    font-size: 1rem;
    color: #969696;
  }

  &__List {
    position: absolute;
    list-style-type: none;
    padding-bottom: 8px;
    padding-top: 3px;
    background-color: #fff;
    z-index: 5;
    transition: transform 0.3s;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2rem);
    &--open {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__Item {
    font-size: 14px;
    letter-spacing: 0.08em;
    color: #969696;
    transition: all 0.3s;
    cursor: pointer;
    padding: 3px 22px 3px 8px;
    &:hover {
      color: $main-color;
    }
  }

  &__Current {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: $main-color;
    display: flex;
    align-items: center;
    padding-left: 8px;
    cursor: pointer;
  }

  &__Arrow {
    margin-left: 8px;
    transition: all 0.3s;
    &--up {
      transform: rotate(-180deg);
    }
  }
}
