body,
html,
input,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  background-color: #fff;
  position: relative;
  font-size: 12px;
}

.Page__Wrap {
  position: relative;
  min-height: 30vh;
  @media screen and (min-width: 769px) {
    margin-top: calc(9.75rem + 29px);
  }
  @media screen and (max-width: 1024px) {
    margin-top: calc(3.5rem + 29px);
  }
}

.cover,
.full__cover,
.search__cover {
  position: absolute;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #101010;
  opacity: 0.3;
  z-index: 3;
}

.search__cover {
  top: 7rem;
  opacity: 0.4;
}

.full__cover {
  top: 0;
  z-index: 20;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-button {
  height: 0;
  background-color: #a8a7a7;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
}

.no-scroll {
  overflow: hidden;
}
