@import "../../styles/vars.scss";

.SelectDropDown {
  max-height: 1.5rem;
  position: relative;

  &--after {
    position: absolute;
    z-index: 4;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &__Main {
    display: flex;
    align-items: center;
    padding: 0 9px 0 0;
    cursor: pointer;
    justify-content: flex-end;
  }

  &__MainText {
    margin-right: 8px;

    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $main-color;
  }

  &__List {
    padding: 18px 0 24px;
    list-style-type: none;
    background-color: #fff;
    visibility: hidden;
    transform: translateY(-2.5rem) scale(1, 0.5);
    transition: all 0.2s;
    z-index: -1;
    position: absolute;
    right: 0;

    &--open {
      position: absolute;

      z-index: 2;
      visibility: visible;
      transform: translateY(0) scale(1, 1);
    }
  }

  &__Item {
    padding: 6px 27px 6px 24px;
    text-align: end;
    white-space: nowrap;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.08em;
    color: #969696;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      color: $main-color;
    }
  }

  &__Arrow {
    transition: all 0.3s;
    &--open {
      transform: rotate(-180deg);
    }
  }
}
