.ProductAlsoBuy {
  padding: 0 73px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  justify-content: center;

  &__Wrap {
    position: relative;
  }

  &__List {
    display: grid;
    grid-template-columns: repeat(4, minmax(164px, 310px));
    grid-column-gap: 18px;
    list-style-type: none;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, minmax(164px, 310px));
      grid-row-gap: 20px;
    }
  }

  &__Link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
  }

  &__Item {
    background-color: #f8f6f5;
    padding: 25px 25px 42px;
    box-sizing: border-box;
    height: 100%;
    max-height: 459px;
    min-height: 266px;

    @media screen and (max-width: 1024px) {
      padding: 8px 8px 16px;
    }
  }

  &__PreviewPh {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__ProdTitle {
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.08em;
    color: #101010;
    margin-bottom: 4px;

    @media screen and (max-width: 600px) {
      display: none;

      &--mobile {
        display: block;
      }
    }

    &--mobile {
      @media screen and (min-width: 601px) {
        display: none;
      }
    }
  }

  &__ProdPrice {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.08em;
    color: #101010;
  }

  &__ImgWrap {
    min-width: 148px;
    min-height: 198px;
    width: 100%;
    height: 80%;
    overflow: hidden;
  }

  &__Info {
    margin-top: 11px;
  }

  &__Title {
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 0.08em;
    color: #101010;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 26px;
    transform: translateY(-50%);

    @media screen and (max-width: 1024px) {
      left: 0;
      top: -15px;
      font-size: 22px;
      transform: translateY(-100%);
    }
  }
}
