@import "../../../styles/vars.scss";

.ProductPageImg {
  &__Wrap {
    position: relative;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__Photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s;
    cursor: pointer;
    display: none;
    &--current {
      border: 1px solid rgb(138, 138, 138);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--loaded {
      display: block;
    }
  }
}
