@import "../../styles/vars.scss";

.Footer {
  &__Info {
    width: 100%;
    background: #bb2a36;
    box-sizing: border-box;
    padding: 30px 0;
  }

  &__InfoList {
    display: flex;
    justify-content: center;
    list-style-type: none;

    @media screen and (max-width: 960px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__InfoTitle {
    font-size: 13px;
    letter-spacing: 0.08em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 960px) {
      justify-content: center;
      text-align: center;
      height: 1.5rem;
      cursor: pointer;
    }
  }

  &__InfoItem {
    margin-right: 11rem;
    transition: all 0.4s;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 960px) {
      margin-right: 0;
      margin-top: 32px;

      &:first-child {
        margin-top: 0;
      }
    }
    &--open {
      @media screen and (min-width: 961px) {
        display: none;
      }
    }
  }

  &__InfoArrow {
    display: none;
    margin-left: 0.5rem;
    transition: all 0.3s;

    @media screen and (max-width: 960px) {
      display: block;
    }

    &--open {
      transform: rotate(-180deg);
    }
  }

  &__SubInfoList {
    margin-top: 3.5rem;
    list-style-type: none;
    transition: all 0.3s;

    @media screen and (max-width: 960px) {
      text-align: center;
      margin-top: 0;

      &--open {
        margin-top: 32px;
      }
    }
  }

  &__SubInfoItem {
    margin-bottom: 22px;
    transition: all 0.2s;
    display: none;
    &:last-child {
      margin-bottom: 0;
    }

    &--open {
      @media screen and (max-width: 960px) {
        display: block;
      }
    }

    @media screen and (min-width: 961px) {
      display: block;
    }
  }

  &__SubInfoLink {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.08em;
  }

  &__Social {
    width: 100%;
    height: 6rem;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__SocialLink {
    margin-right: 39px;
    text-decoration: none;
    &:last-child {
      margin-right: 0;
    }
  }

  &__Rights {
    font-size: 13px;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2.5rem;
  }

  &__RightsText {
    letter-spacing: 0.08em;
    color: #969696;
  }
}
